#projectExperience{
    display: flex;
    flex-wrap:wrap;
    width:100%;
    justify-content: space-between;
}
#project{
    /* border:1px solid gray; */
    /* margin-right:20px; */
    width: 40%;
    margin:20px 30px 20px 30px;
}
#projectName{
    text-align:center;
    color:white;
    background-color:lightblue;
    height: 60px;
    line-height: 60px;
}
#projectDescription{
    text-align:justify;
    padding:8px;
    border-bottom:1px solid lightgray;
    height: 200px;
    margin-bottom:20px;
}
