#projectExperience{
    display: flex;
    flex-wrap:wrap;
    width:100%;
    justify-content: space-between;
    overflow-y:auto;
    height:350px;
}
#project{
    /* border:1px solid gray; */
    /* margin-right:20px; */
    width: 40%;
    margin:40px 30px 20px 30px;
}
#projectName{
    text-align:center;
    color:white;
    /* background-color:lightblue; */
    height: 60px;
    line-height: 60px;
    background: linear-gradient(to right, lightblue,#b1acb5,lightblue);     
}
#projectDescription{
    text-align:justify;
    padding:8px;
    height: 250px;
}
#descriptionContent{
    padding-left:40px;
}
#projectDuty{
    padding:8px;
}
#subtitle{
    color:#ada7a7;
}
