header{
    text-align:center;
}
#main{
    margin:auto;
    background-color:#e8e8e866;
    /* height: 150px; */
}
#head{
    background-image:url("../assets/keyboard.jpg");
}
#self-instruction{
    width:60%;
    height:180px;
    margin:auto;
    display:flex;
    align-items:center;
}
#self-instruction img{
    position: absolute;
    left: 30%;
}
#self-instruction header{
    position:absolute;
    left:50%;

}

#navigation{
    width:100%;
    margin-top:-16px;
    height: 40px;
    background-color:#000000;
}
#navigation ul{
    list-style-type:none;
}
#navigation li{
    float:left;
    width:33.3%;
    text-align:center;
    line-height:40px;
    font-size: 20px;
}
#navigation a{
    color:white;
    text-decoration: none;
}
#navigation a:hover{
    color:gray;
}

#home{
    position:absolute;
    left:20px;
}
 
.active span{
    color:#a2a2ff;
}
#content{
    width:80%;
    margin:auto;
}
