<div id="main">
<section id="head">
  <header>
    <h1>{{ title }}</h1>
  </header>
  <section id="self-instruction">
  <img width="150px" src="../assets/headprotrait.png">
    <article>
      <ul>
	<li *ngFor="let instruction of instroductions">{{instruction}}</li>
      </ul>
    </article>
  </section>
</section>
<section id="navigation">
<nav>
    <tabset [justified]="true">
      <tab heading="personal skills">
	<app-personal-skill></app-personal-skill>
      </tab>
      <tab heading="project experience">testtab2</tab>
      <tab heading="about me">testtab3</tab>
    </tabset>
</nav>
</section>
<footer>contact me</footer>
</div>
