<div id="main">
<section id="head">
  <section id="self-instruction">
   <img width="150px" src="../assets/headprotrait.png">
   <header>
     <h1>{{ title }}</h1>
   </header>
  </section>
</section>
<section id="navigation">
  <nav>
    <ul>
      <li><a id="home" routerLink="welcome" routerLinkActive="active" skipLocationChange="true"><img width="36px" src="../assets/home1.png"></a></li>      
      <li><a routerLink="personal-skill" routerLinkActive="active" skipLocationChange="true"><span>Personal Skills</span></a></li>
    <li><a routerLink="project-experience" routerLinkActive="active" skipLocationChange="true"><span>Project Experience</span></a></li>
    <li><a routerLink="about-me" routerLinkActive="active" skipLocationChange="true"><span>Personal Skills & Experience</span></a></li>
    </ul>
 </nav>
</section>
<div id="content">
  <router-outlet></router-outlet>
<div>
</div>
